.seasons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (max-width: 992px) {
  .seasons-grid {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }
}

@media (max-width: 480px) {
  .seasons-grid {
    grid-template-columns: 1fr;
  }
}